{% extends "homebase.html" %}

{% block title %}Anket Detayı{% endblock %}

{% block body %}

    <div id="breadcrumb">
		<div class="container">
			<u1 class="breadcrumb">
                <li><a href="/">Home<</a></li>
                <li class="active">Anket Detay</li>
                </u1>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
<br>
Anket Sorusu<br>
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}

<input type="submit" value="Vote">
</form>


        </div>
        </div>
    </div>


{% endblock %}